body, p {
    background-color: #ffffff;
    font-family: 'Cinzel', serif;
    line-height: 1.5;
}

header,
footer {
    border: 2px solid #fffb00;
    border-radius: 10px;
    background-color: #aaeeff;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    text-shadow: 4px 4px 4px #aaa;
    color: #001d4a;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 0px;
    text-align: center;
}
img {
    border: 2px solid #001d4a;
    width: 200px;
    border-radius: 5px;
}

footer p {
    font-size: 1rem;
    color: #505050;
}