header {
    margin-bottom: 1em;
}

body {

    margin: 0 .5em 0 .5em;
    padding: 1em;
}

p+p {
    margin-top: 10px;
}

div {
    margin-top: 10px;
}

footer {
    margin: 10px auto;
}

#zen-summary {
    margin-bottom: 2em;
}

.page-wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 20%;
    grid-template-areas: "header  sidebar""header  sidebar""content sidebar""content footer""content .";
}

.intro {
    grid-area: header;
}

.main {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

#zen-preamble,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
    @include parLayout;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}