/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ultra&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #3e3494;
}

header {
  margin-bottom: 1em;
}

body {
  margin: 0 .5em 0 .5em;
  padding: 1em;
}

p + p {
  margin-top: 10px;
}

div {
  margin-top: 10px;
}

footer {
  margin: 10px auto;
}

#zen-summary {
  margin-bottom: 2em;
}

.page-wrapper {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: auto 20%;
      grid-template-columns: auto 20%;
      grid-template-areas: "header  sidebar" "header  sidebar" "content sidebar" "content footer" "content .";
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: content;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: sidebar;
}

#zen-preamble,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "title" "para" h3;
  grid-template-areas-grid-area: title;
}

#zen-preamble p,
#zen-explanation p,
#zen-participation p,
#zen-benefits p,
#zen-requirements p {
  grid-column: 1/-1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html {
  background: radial-gradient(circle at 90% 30%, rgba(238, 157, 196, 0.4) 0%, rgba(238, 157, 196, 0.4) 30%, rgba(238, 157, 196, 0.4) 30%, rgba(158, 229, 117, 0.4) 100%), radial-gradient(circle at 95% 60%, #ee9dc4 0%, rgba(238, 157, 196, 0.82) 30%, rgba(252, 236, 93, 0.4) 50%, rgba(158, 229, 117, 0.4) 50%, rgba(158, 229, 117, 0.04) 100%), radial-gradient(circle at 70% 11%, rgba(158, 229, 117, 0.4) 0%, rgba(252, 236, 93, 0.4) 50%, rgba(158, 229, 117, 0.4) 50%, rgba(158, 229, 117, 0.04) 100%), radial-gradient(circle at 15% 65%, rgba(252, 236, 93, 0.8) 0%, rgba(252, 236, 93, 0.6) 50%, rgba(158, 229, 117, 0.6) 50%, rgba(158, 229, 117, 0.4) 100%);
  background-size: cover;
}

.sidebar {
  background-color: #3e3494;
  border: solid 0.5em #9ee575;
  border-radius: 8px;
  color: #fcec5d;
  padding: .8em;
  max-height: 650px;
  min-width: 156px;
}

.sidebar h3 {
  font-family: 'Ultra';
  font-size: 1em;
}

.sidebar ul li .design-name:hover {
  font-style: italic;
}

.sidebar ul li a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 1em;
  line-height: 1.4;
  color: #fcec5d;
}

.sidebar ul li a:hover {
  color: #ffffff;
}

.sidebar .archives,
.sidebar .resources {
  margin-top: 1.5em;
}

.sidebar .archives:hover,
.sidebar .resources:hover {
  color: #ffffff;
}

header {
  font-size: 2em;
}

header h2 {
  text-transform: uppercase;
  font-size: 1em;
}

.intro h1 {
  font-family: 'Ultra';
  font-weight: 500;
  font-size: 2em;
}

.intro h2 {
  font-family: 'Open Sans';
  font-size: 1em;
}

.summary {
  font-family: 'Open Sans';
  font-size: 1.3em;
}

.preamble h3,
.main h3,
.participation h3,
.benefits h3,
.requirements h3 {
  font-family: 'Ultra';
  font-weight: 500;
  font-size: 1em;
}

.preamble p,
.main p,
.participation p,
.benefits p,
.requirements p {
  font-family: 'Open Sans';
  font-size: .8em;
}

footer {
  font-family: 'Ultra';
  letter-spacing: 2px;
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
  color: #3e3494;
}

footer a:hover {
  color: #ee9dc4;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  margin-top: 1em;
}

.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .8em;
}

.preamble p,
.explanation p,
.participation p,
.benefits p,
.requirements p {
  font-size: 1em;
}

.preamble:hover,
.explanation:hover,
.participation:hover,
.benefits:hover,
.requirements:hover {
  background-color: #fcec5d;
  border: solid 0.5em #3e3494;
  border-radius: 8px;
  padding: 1em;
  -webkit-transform: translate(10%, -10%);
          transform: translate(10%, -10%);
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

.preamble:hover h3,
.explanation:hover h3,
.participation:hover h3,
.benefits:hover h3,
.requirements:hover h3 {
  font-size: 2em;
}

.preamble:hover p,
.explanation:hover p,
.participation:hover p,
.benefits:hover p,
.requirements:hover p {
  font-size: 1.2em;
  display: block;
}

#zen-requirements h3::before,
#zen-preamble h3::before {
  float: left;
  content: ' ';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131 133'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ee9dc4;stroke:%23f889bf;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ejelly-bean%3C/title%3E%3Cg id='Jelly_Bean' data-name='Jelly Bean'%3E%3Cpath class='cls-1' d='M134.7,47.3c0,16.75-10.11,28.16-25.73,36.16-14.52,4.72-25,12.68-29.81,29.81C63.35,156.33-7.29,143.82,8,85.17,21.76,35.17,127-36.75,134.7,47.3Z' transform='translate(-4.85 -7.65)'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  -webkit-animation: hello 1.5s ease-in-out infinite;
          animation: hello 1.5s ease-in-out infinite;
  margin-right: 0.5em;
}

@-webkit-keyframes hello {
  0% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  50% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}

@keyframes hello {
  0% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  50% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}

#zen-explanation h3::before {
  content: '';
  float: left;
  background-image: url("images/peppermint.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  -webkit-animation: spin 4s ease infinite;
          animation: spin 4s ease infinite;
  margin-right: 0.5em;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}

#zen-participation h3::before {
  content: '';
  float: left;
  background-image: url("images/lemon.svg");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: snap 3.5s ease infinite;
          animation: snap 3.5s ease infinite;
  margin-right: 0.5em;
}

@-webkit-keyframes snap {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.5, 0.8);
            transform: scale(1.5, 0.8);
  }
  25% {
    -webkit-transform: scale(0.9, 1.5);
            transform: scale(0.9, 1.5);
  }
  30% {
    -webkit-transform: scale(1.3, 0.95);
            transform: scale(1.3, 0.95);
  }
  40% {
    -webkit-transform: scale(1.1, 1);
            transform: scale(1.1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes snap {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.5, 0.8);
            transform: scale(1.5, 0.8);
  }
  25% {
    -webkit-transform: scale(0.9, 1.5);
            transform: scale(0.9, 1.5);
  }
  30% {
    -webkit-transform: scale(1.3, 0.95);
            transform: scale(1.3, 0.95);
  }
  40% {
    -webkit-transform: scale(1.1, 1);
            transform: scale(1.1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

#zen-benefits h3::before {
  content: '';
  float: left;
  background-image: url("images/kiss.svg");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: bounce 4.5s ease infinite;
          animation: bounce 4.5s ease infinite;
  margin-right: 0.5em;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  20% {
    -webkit-transform: scale(1.15, 0.8) translateY(10px);
            transform: scale(1.15, 0.8) translateY(10px);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  30% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  40% {
    -webkit-transform: scale(1.25, 0.85) translateY(0);
            transform: scale(1.25, 0.85) translateY(0);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-8px);
            transform: scale(0.9, 1.1) translateY(-8px);
  }
  60% {
    -webkit-transform: scale(1.1, 0.9) translateY(0px);
            transform: scale(1.1, 0.9) translateY(0px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0px);
            transform: scale(1, 1) translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  20% {
    -webkit-transform: scale(1.15, 0.8) translateY(10px);
            transform: scale(1.15, 0.8) translateY(10px);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  30% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  40% {
    -webkit-transform: scale(1.25, 0.85) translateY(0);
            transform: scale(1.25, 0.85) translateY(0);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-8px);
            transform: scale(0.9, 1.1) translateY(-8px);
  }
  60% {
    -webkit-transform: scale(1.1, 0.9) translateY(0px);
            transform: scale(1.1, 0.9) translateY(0px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0px);
            transform: scale(1, 1) translateY(0px);
  }
}

@media (prefers-reduced-motion: reduce) {
  #zen-explanation h3::before,
  #zen-requirements h3::before,
  #zen-preamble h3::before,
  #zen-participation h3::before,
  #zen-benefits h3::before {
    -webkit-animation: none;
            animation: none;
  }
}

footer {
  margin: 2rem 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

footer a {
  padding: 3.5rem;
  background-image: url("images/lemon.svg");
  background-repeat: no-repeat;
  background-position: center;
  place-self: center;
}

footer a:nth-child(3) {
  margin-left: .5rem;
  margin-right: .5rem;
}

footer a:first-child {
  margin-right: -1rem;
}

@media (max-width: 810px) {
  .page-wrapper {
    width: 90%;
    margin: auto;
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */