@media only screen and (min-width: 60em) {
    body {
        font-size: 1.5em;
        line-height: 1.5;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    section:nth-child(3) {
        grid-column: span 1;
    }
}