header {
    flex-flow: row;
}

nav {
    height: 80px;

    ul {
        display: flex;

        li {
            display: block;

            ul li {
                display: none;
            }
        }

        li:first-child {
            display: none;
        }

        li:hover ul li {
            display: flex;
        }
    }

}

.responsive li {
    width: 125px;
}

.IntroReserve {
    img {
        max-width: 600px;

    }
}
.AboutUs, .cards {
    grid-template-columns: repeat(1, 1fr);

}


.amenities{
    display: block;
    margin: auto;
    max-width: 800px;
    ul{
        list-style-image: url("../images/bullet.gif");
        ul {
            list-style-image: none; 
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}