.AboutUs, .cards {
    grid-template-columns: repeat(3, 1fr);
    
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
}

#specific {
    grid-template-columns: repeat(2, 1fr);
    
}