@media only screen and (min-width: 50em) {
    :root {
        --color1: #004f2d;
        --color2: #edea57;
        --color3: #002503;
        --color4: #ffa500;
        --color5: #a9ffcb;
        --font1: 'Acme', sans-serif;
        --font2: 'Gudea', sans-serif;
    }

    header img {
        width: 100%;
    }

    header div h1 {
        font-size: 5rem;

    }

    main h2 {
        font-size: 4em;
    }

    .forecast,
    .forecastable {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 1rem;

    }

    table {
        table-layout: auto;
        margin: 1rem;
    }

    tbody {
        width: 36rem;

    }

    th,
    tr,
    td {
        border: 1px solid var(--color1); 
        padding: .5rem 1rem .5rem 1rem;
        align-content: center;
        text-align: center;
        width: 16rem;
        border-top-left-radius: 20% 10%;
        border-top-right-radius: 20% 10%;
        border-bottom-right-radius: 20% 10%;
        border-bottom-left-radius: 20% 10%;

    }

    tr:first-child {
        background-color: var(--color1);
        color: var(--color2);
        font-family: var(--font1);
        font-size: 1.5rem;
        text-shadow: 2px 2px 6px var(--color3);
           
    }

    tr:nth-child(even) > td {
        border: none;
    }

    tr:last-child{
        background-color: var(--color5);
        color: var(--color1);
    }

    .divgallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .maingallery {
        max-width: 1300px;
    }

    figcaption {
        display: block;
        text-align: center;
    }

    .gallery img:hover {
        box-shadow: 0em 0em 2em #000000;
    }

    .contact .map {
        display: flex;
        float: left;
        margin: 1rem;
        width: 100%;
        max-width: 300px;
    }

    .cityintro img {
        max-width: 500px;
    }

}